<div class="main-content bg-default"
style="min-height: 500px; background-image: url(assets/img/theme/movement.jpg); background-size: cover; background-position: center top;"

>
  <!-- Header -->
  <div class="header bg-gradient-default pt-5 pb-7 opacity-9">

    <div class="container">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col-lg-9">
            <div class="pt-4 mt-4">
              <h2 class="display-2 text-white font-weight-bold mb-2">
                Our Services
              </h2>
            </div>
          </div>
        </div>


          <div class=" row align-items-center">
            <div class=" col-lg-7">
              <div class=" card">

        
                <div class=" card-body">
                  <div class=" timeline timeline-one-side" data-timeline-axis-style="dashed"
                    data-timeline-content="axis">
                    <div class=" timeline-block">
                      <span class=" timeline-step badge-success">
                        1
                      </span>
                      <div class=" timeline-content">
                        <small class=" font-weight-bold"> Diagnosis </small>
                        <p class=" text-sm mt-1 mb-0">
                          A watchmaker assesses the technical functionality of the movement
                          and any complications and checks the aesthetical conditions of the
                          case and bracelet. Based on this thorough inspection, we determine
                          the appropriate service and replacement parts needed to restore and
                          guarantee the optimal function and appearance of your timepiece.
                        </p>
                      </div>
                    </div>
        
                    <div class=" timeline-block">
                      <span class=" timeline-step badge-danger">
                        2
                      </span>
                      <div class=" timeline-content">
                        <small class=" font-weight-bold"> Case refurbishment </small>
                        <p class=" text-sm mt-1 mb-0">
                          After extracting the movement, we dismantle the case and clean all parts in an ultrasonic
                          bath. Our Complete Service also includes polishing the case and metal bracelet. Significant
                          irregularities or deep traces of wear may be removed using laser welding. As we reassemble
                          the case, we systematically replace all seals and gaskets to ensure the stated water
                          resistance.
                        </p>
                      </div>
                    </div>
        
                    <div class=" timeline-block">
                      <span class=" timeline-step badge-info">
                        3
                      </span>
                      <div class=" timeline-content">
                        <small class=" font-weight-bold"> Movement overhaul </small>
                        <p class=" text-sm mt-1 mb-0">
                          We disassemble the movement and clean each part to remove microscopic dust particles and oil
                          residue.
                          The watchmaker then carefully inspects the condition of each component and replaces any
                          wearing part
                          that no longer meets our standards. After reassembling and fine-tuning the mechanism, we
                          lubricate
                          all pivot points and bearings to reduce friction and wear.
                        </p>
                      </div>
                    </div>
        
                    <div class=" timeline-block">
                      <span class=" timeline-step badge-success">
                        4
                      </span>
                      <div class=" timeline-content">
                        <small class=" font-weight-bold"> Reassembly </small>
                        <p class=" text-sm mt-1 mb-0">
                          After overhauling and reassembling the movement, the dial and the hands are mounted onto the
                          movement.
                          We then carefully refit the mechanism into the refurbished case. Finally, our watchmaker
                          performs any
                          necessary adjustments before securely fastening the case back and hermetically sealing the
                          case against
                          the entry of dust particles or humidity.
                        </p>
                      </div>
                    </div>
        
                    <div class=" timeline-block">
                      <span class=" timeline-step badge-danger">
                        5
                      </span>
                      <div class=" timeline-content">
                        <small class=" font-weight-bold"> Quality control </small>
                        <p class=" text-sm mt-1 mb-0">
                          The last step is our comprehensive final quality check. The functional tests performed
                          include checking
                          the power reserve and measuring the rate and accuracy for 12 hours. We also control air
                          pressure and
                          water resistance and perform an aesthetical check. Our 2-year service warranty covers all
                          workmanship
                          and replacement parts.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>








      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>


</div>





