<div class=" main-content">
  <div class=" header bg-gradient-default py-7 py-lg-8 pt-lg-9">
    <div class=" container">
      <div class=" header-body text-center mb-7">
        <div class=" row justify-content-center">
          <div class=" col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class=" text-white">Specific individual services and complete service for your watch are available</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class=" container mt--8 pb-5">
    <div class=" row justify-content-center">
      <div class=" col-lg-10">
        <div class=" pricing card-group flex-column flex-md-row mb-3">
          <div class=" card card-pricing border-0 text-center mb-4">


            <div class=" card-body px-lg-7">
              <div class=" display-3">Timepiece</div>

              <span class=" text-muted"> services </span>

              <ul class=" list-unstyled my-4">
                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2"> Bracelet/Strap Service</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2"> Maintenance Service</span>
                    </div>
                  </div>
                </li>


                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2"> Polishing</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2"> Timepiece Certificate</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2"> Smart Watch Battery Service</span>
                    </div>
                  </div>
                </li>
              </ul>

            </div>

          </div>

          <div
            class=" card card-pricing bg-gradient-success zoom-in shadow-lg rounded border-0 text-center mb-4"
          >

            <div class=" card-body px-lg-7">
              <div class=" display-2 text-white"> Complete</div>

              <span class=" text-white"> service </span>

              <ul class=" list-unstyled my-4">
                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2 text-white"> Diagnosis</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2 text-white"> Dissasembly</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2 text-white"> Replace worn components</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2 text-white"> Demagnetization if necessary</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2 text-white"> Check and service movement</span>
                    </div>
                  </div>
                </li>



                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2 text-white">Reassembly</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class=" d-flex align-items-center">
                    <div>
                      <div
                        class=" icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white"
                      >
                        <i class=" fas fa-check"> </i>
                      </div>
                    </div>
                    <div>
                      <span class=" pl-2 text-white">Final checks and adjustments</span>
                    </div>
                  </div>
                </li>







              </ul>
              <a
              [routerLink]="['/examples/wizard']">
              <button class=" btn btn-secondary mb-3" type="button">
                Request Service
              </button></a>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
