<div class=" main-content">
  <div class=" header bg-gradient-default py-7 py-lg-6 pt-lg-7">
    <div class=" container">
      <div class=" header-body text-center mb-7">
        <div class=" row justify-content-center">
          <div class=" col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class=" text-white">Request watch service</h1>

            <p class="text-white mt-4">
              Please fill in and submit the form below to request repair service.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class=" container mt--8 pb-5">
    <div class=" row justify-content-center">
      <div class=" col-lg-10">


        <div id="card-component" class="tab-pane tab-example-result fade show active" role="tabpanel"
          aria-labelledby="card-component-tab">



          <div class=" card">
            <div class=" card-header">
              <h3 class=" mb-0">Watch Information</h3>
            </div>

            <div class=" card-body">
              <form>
                <div class=" form-group">
                  <label class=" form-control-label" for="manufacturer">
                    Select watch manufacturer
                  </label>

                  <select class=" form-control" name="manufacturer" [(ngModel)]="manufacturer">
                    <option> - Select one - </option>
                    <option value="cartier"> Cartier </option>
                    <option value="panerai"> Panerai </option>
                    <option value="jaeger"> Jaeger LeCoultre </option>
                    <option value="iwc"> IWC </option>
                    <option value="baumemercier"> Baume & Mercier </option>
                    <option value="montblanc"> Montblanc </option>
                    <option> Other </option>
                  </select>
                </div>

                <div class=" row">
                  <div class=" col-md-4">
                    <div class=" form-group">
                      <label class=" form-control-label" for="model">
                        Model
                      </label>
                      <input class=" form-control" name="model" [(ngModel)]="model" type="text"/>
                    </div>
                  </div>
  
                  <div class=" col-md-4">
                    <div class=" form-group">
                      <label class=" form-control-label" for="serialNumber">
                        Serial Number
                      </label>
                      <input class=" form-control" name="serialNumber" type="text"  [(ngModel)]="serialNumber"/>
                    </div>
                  </div>
  
                  <div class=" col-md-4">
                    <div class=" form-group">
                      <label class=" form-control-label" for="age">
                        Age of watch (years)
                      </label>
                      <input class=" form-control" name="age" type="text"  [(ngModel)]="age"/>
                    </div>
                  </div>
                </div>

                <div class=" form-group">
                  <div class=" form-group">
                    <label class=" form-control-label" for="notes" [(ngModel)]="notes">
                      Notes
                    </label>
                    <textarea class=" form-control" name="notes" rows="3"></textarea>
                  </div>

                </div>

              </form>
            </div>

            <div class=" row justify-content-center">

              <div class=" card-header">

                
                  <button class=" btn btn-primary" (click)="postOrder()" type="button">Submit</button>
                &nbsp;
                <a href="/#/examples/home"> <button class=" btn btn-icon btn-secondary" type="button">
                    Cancel
                  </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>