<div class="main-content bg-default"
style="min-height: 500px; background-image: url(assets/img/theme/movement.jpg); background-size: cover; background-position: center top;"

>
  <!-- Header -->
  <div class="header bg-gradient-default pt-5 pb-7 opacity-9">

    <div class="container">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col-lg-9">
            <div class="pt-4 mt-4">
              <h1 class="display-2 text-white font-weight-bold mb-0">
                Authorized Watch Repair
              </h1>

              <h2 class="display-4 text-white font-weight-light">
                <i>Site under construction.</i>
              </h2>
              <h2 class="display-4 text-white font-weight-light">
                An experienced full-service watch maker, certified by the manufacturers to repair top luxury brands.
              </h2>
              <p class="text-white mt-4">
                We are an authorized service center led by certified master watchmaker, Gyula Tobak.
                We are authorized to service watches manufactured by Cartier, Panerai, Jaeger LeCoultre, IWC,
                Baume&Mercier, and Montblanc. Futhermore, we are accredited parts account holder by Omega, Hamilton, Rado and Longines.
              </p>

              <p class="text-white mt-4">
                To begin the service repair process, click on your brand below.
              </p>
            </div>
          </div>
        </div>

        <div class="row align-items-center">

          <div class="col-md-2">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div style="text-align:center">
                    <a (click)="gotoWizard('Cartier')">
                      <img src="assets/img/watches/logo-cartier.png" class="img-fluid"
                        style="max-width: 65%;height: auto;" />
                      <img src="assets/img/watches/cartier-watch.png" class="img-fluid"
                        style="max-width: 67%;height: auto;" />
                    </a>
                  </div>
                  <div class="btn-wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body" style="opacity: 1">
                <div class="row justify-content-center">
                  <div style="text-align:center">
                    <a (click)="gotoWizard('Panerai')">
                      <img src="assets/img/watches/logo-panerai.png" class="img-fluid" />
                      <img src="assets/img/watches/panerai-watch.png" class="img-fluid"
                        style="max-width: 70%;height: auto;" />
                    </a>
                  </div>
                  <div class="btn-wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div style="text-align:center">
                    <a (click)="gotoWizard('Jaeger LeCoultre')">
                      <img src="assets/img/watches/logo-jaeger.png" class="img-fluid" />
                      <img src="assets/img/watches/jaeger-watch.png" class="img-fluid"
                        style="max-width: 70%;height: auto;" />
                    </a>
                  </div>
                  <div class="btn-wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div style="text-align:center">
                    <a (click)="gotoWizard('IWC')">
                      <img src="assets/img/watches/logo-iwc.png" class="img-fluid"
                        style="max-width: 90%;height: auto;" />
                      <img src="assets/img/watches/iwc-watch.png" class="img-fluid"
                        style="max-width: 70%;height: auto;" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div style="text-align:center">
                    <a (click)="gotoWizard('Baume & Mercier')">
                      <img src="assets/img/watches/logo-baume-mercier.png" class="img-fluid"
                        style="max-width: 90%;height: auto;" />
                      <img src="assets/img/watches/baume-mercier-watch.png" class="img-fluid"
                        style="max-width: 75%;height: auto;" /></a>
                  </div>
                  <div class="btn-wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div style="text-align:center">
                    <a (click)="gotoWizard('Montblanc')">
                      <img src="assets/img/watches/logo-montblanc.png" class="img-fluid" />
                      <img src="assets/img/watches/montblanc-watch.png" class="img-fluid"
                        style="max-width: 95%;height: auto;" />
                    </a>
                  </div>
                  <div class="btn-wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div style="text-align:center">
                    <a (click)="gotoWizard('Other')">
                      <img src="assets/img/watches/logo-other.png" class="img-fluid" />
                      <img src="assets/img/watches/other-watch.png" class="img-fluid"
                        style="max-width: 95%;height: auto;" />
                    </a>
                  </div>
                  <div class="btn-wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>








      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>


</div>