<div class=" main-content">
  <div class=" header bg-gradient-default py-7 py-lg-8 pt-lg-9">
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <div class=" container mt--8 pb-5">
    <div class=" row justify-content-center">
      <div class=" col-lg-6">
        <div class=" card">
          <div class=" card-body">
            <h3 class=" card-title mb-3">Estimate</h3>

            <form class=" needs-validation" *ngIf="estimate && estimate.necessaryServices">


              <div *ngIf="order">
                <h3 class=" card-title mb-3">Repair Info</h3>
                <div *ngIf="order.manufacturer">
                  <p class=" text-sm text-muted mb-0">Manufacturer</p>
                  <p class=" card-text mb-4">
                    {{order.manufacturer}}
                  </p>
                </div>
                <div *ngIf="order.model">
                  <p class=" text-sm text-muted mb-0">Model</p>
                  <p class=" card-text mb-4">
                    {{order.model}}
                  </p>
                </div>
                <div *ngIf="order.serialNumber">
                  <p class=" text-sm text-muted mb-0">Serial Number</p>
                  <p class=" card-text mb-4">
                    {{order.serialNumber}}
                  </p>
                </div>
                <div *ngIf="order.age">
                  <p class=" text-sm text-muted mb-0">Age</p>
                  <p class=" card-text mb-4">
                    {{order.age}} years
                  </p>
                </div>
                <div *ngIf="order.createdDate">
                  <p class=" text-sm text-muted mb-0">Requested</p>
                  <p class=" card-text mb-4">
                    {{order.createdDate}}
                  </p>
                </div>
                <div *ngIf="order.status">
                  <p class=" text-sm text-muted mb-0">Customer</p>
                  <p class=" card-text mb-4">
                    {{order.email}}
                  </p>
                </div>
              </div>

              <div class=" form-row">
                <div class=" col-md-6 mb-3">Necessary services</div>
                <div class=" col-md-3 mb-3">Price</div>
                <div class=" col-md-3 mb-3">
                  <button class=" btn btn-outline-success" type="button" (click)="addNecessaryService()">
                    Add new
                  </button>
                </div>
              </div>

              <div class=" form-row" *ngFor="let necessaryService of estimate.necessaryServices; let i = index" [attr.data-index]="i">
                <div class=" col-md-6 mb-3">

                  <input class=" form-control" name="name_{{i}}" placeholder="" required="" type="text"
                    [(ngModel)]="estimate.necessaryServices[i].name"/>
                  <div class=" invalid-feedback">
                    Please provide a valid service.
                  </div>
                </div>

                <div class=" col-md-3 mb-3">

                  <input class=" form-control" name="price_{{i}}" placeholder="" required="" type="text"
                    [(ngModel)]="estimate.necessaryServices[i].price"/>
                  <div class=" invalid-feedback">
                    Please provide a valid price.
                  </div>
                </div>

                <div class=" col-md-3 mb-3">
                  <button class=" btn btn-outline-danger" type="button" (click)="removeNecessaryService(i)">
                    Remove
                  </button>
                </div>
              </div>


              
              <div class=" form-row">
                <div class=" col-md-6 mb-3">Optional services</div>
                <div class=" col-md-3 mb-3">Price</div>
                <div class=" col-md-3 mb-3">
                  <button class=" btn btn-outline-success" type="button" (click)="addOptionalService()">
                    Add new
                  </button>
                </div>
              </div>

              <div class=" form-row" *ngFor="let optionalService of estimate.optionalServices; let i = index" [attr.data-index]="i">
                <div class=" col-md-6 mb-3">

                  <input class=" form-control" name="name_opt_{{i}}" placeholder="" required="" type="text"
                  [(ngModel)]="estimate.optionalServices[i].name" />
                  <div class=" invalid-feedback">
                    Please provide a valid service.
                  </div>
                </div>

                <div class=" col-md-3 mb-3">

                  <input class=" form-control" name="price_opt_{{i}}" placeholder="" required="" type="text"
                  [(ngModel)]="estimate.optionalServices[i].price" />
                  <div class=" invalid-feedback">
                    Please provide a valid price.
                  </div>
                </div>

                <div class=" col-md-3 mb-3">
                  <button class=" btn btn-outline-danger" type="button" (click)="removeOptionalService(i)">
                    Remove
                  </button>
                </div>
              </div>

              <div class=" form-row">
                <div class=" col-md-12 mb-3 mt-3">

                  <button class=" btn btn-block btn-primary" type="button" (click)="saveEstimate()">
                    Save Estimate
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>