<div>
  <img src="assets/img/brand/blue.png" width="150" />
</div>

<div style="text-align:center"><b class="h1">
    Estimate Approval Confirmation
  </b><br>

  <script>

    document.write("<a href='#' onclick='javascript:window.print();'>Print this page for your records.</a>");
  </script><a href="#" onclick="javascript:window.print();">Print this page for your records</a>
</div>

<div *ngIf="order.manufacturer">
  <p class=" text-sm text-muted mb-0">Manufacturer</p>
  <p class=" card-text mb-4">
    {{order.manufacturer}}
  </p>
</div>
<div *ngIf="order.model">
  <p class=" text-sm text-muted mb-0">Model</p>
  <p class=" card-text mb-4">
    {{order.model}}
  </p>
</div>
<div *ngIf="order.serialNumber">
  <p class=" text-sm text-muted mb-0">Serial Number</p>
  <p class=" card-text mb-4">
    {{order.serialNumber}}
  </p>
</div>
<div *ngIf="order.age">
  <p class=" text-sm text-muted mb-0">Age</p>
  <p class=" card-text mb-4">
    {{order.age}} years
  </p>
</div>
<div *ngIf="order.notes">
  <p class=" text-sm text-muted mb-0">Notes</p>
  <p class=" card-text mb-4">
    {{order.notes}}
  </p>
</div>

<div *ngIf="order.createdDate">
  <p class=" text-sm text-muted mb-0">Requested</p>
  <p class=" card-text mb-4">
    {{ order.createdDate | date:'medium' }}
  </p>
</div>

<h4>Photos:</h4>
<span *ngFor='let photoURL of photoURLs; let i = index'>
  <a (click)="openPhotoDetailModal(modalPhotoDetail,photoURL,i)">
    <img src="{{photoURL}}" width="150px" /></a>
</span>

<app-estimate-view [estimate]="order.estimate"></app-estimate-view>

<div *ngIf="order != null" style="text-align:center">
  <a routerLinkActive="active" [routerLink]="['/repair']" [queryParams]="{id: order.id}">
    Back to repair summary</a>
</div>
<p> </p>