<div *ngIf="estimate && estimate.necessaryServices && estimate.necessaryServices.length > 0">
  <div class="row mt-4">
    <div class="col">
      <div class=" card-title mb-3">Estimate
        <span style="float: right;">
          <a *ngIf="isAdmin" routerLinkActive="active" [routerLink]="['/estimate']"
            [queryParams]="{id: estimate.id}">
            <button *ngIf="!estimate.approvedBy" class=" btn btn-outline-primary btn-sm" type="button">
              Edit estimate
            </button>
          </a></span>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class="col">
      <table class=" table align-items-center table-flush">
        <tr>
          <td colspan="2"><b>Necessary services:</b></td>
          <td style="text-align: center">
            <app-approval-status [status]="estimate.approvalStatus" ></app-approval-status></td>
        </tr>
        <tr *ngFor="let service of estimate.necessaryServices; let i = index">
          <td>{{service.name}}</td>
          <td>{{service.price | currency}}</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4"><b>Optional services:</b></td>
        </tr>
        <tr *ngFor="let service of estimate.optionalServices; let i = index">
          <td>{{service.name}}</td>
          <td>{{service.price | currency}}</td>
          <td style="text-align: center">
            <app-approval-status [status]="service.approvalStatus" ></app-approval-status>
          </td>
        </tr>

        <tr>
          <td>Approved Total</td>
          <td>{{grandTotal | currency}}</td>
          <td></td>
        </tr>




        <tr *ngIf="estimate.approvedBy">
          <td><b>Approved:</b></td>
          <td><i>{{estimate.approvedBy}}<br/>{{estimate.approvedDate}}</i></td>
          <td></td>
        </tr>

      </table>
    </div>
  </div>


</div>